.x-btn{
    padding: 2px 6px;
    border-radius: 0px;
    background-color: rgb(71, 88, 75);
    border-style: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-window {
    background-color: rgb(50, 63, 53);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
}