input {
    border-radius: 5px;
    border-style: none;
    padding: 3px 5px;
    outline: none;
    font-size: 15px;
    color: #FBE8CE;
}

input:disabled {
    color: #fbe8ce4b;
}

.quest-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 35vh;

    background-color: #36413b42;
    color: #FBE8CE;
    border-radius: 5px;
}

.quest-form {
    width: 100%;
    padding: 5px 15px;

}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-selector {
    border-radius: 5px;
    border-style: none;
    padding: 3px 9px;
    outline: none;
    font-size: 15px;
    margin: 3px 0px;
    color: #FBE8CE;
}


.time-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0px;
}

.time-input {
    width: 49px;
}

.buttons button {
    padding: 9px 16px;
    cursor: pointer;
    margin: 5px 10px;
    border-style: solid;
    border-radius: 9px;
    font-size: 15px;
    color: #FBE8CE;
}

.buttons button:disabled {
    background-color: rgba(104, 104, 104, 0.253);
    border-color: rgba(104, 104, 104, 0.253);
    cursor: not-allowed;
}

.cancel {
    background: rgb(160, 35, 35);
    border-color: rgb(160, 35, 35);
}

.start {
    background: rgb(35, 160, 41);
    border-color: rgb(35, 160, 41);
}

.cancel:hover {
    background: rgb(160, 5, 5);
    border-color: rgb(160, 35, 35);
}

.start:hover {
    background: rgb(35, 130, 11);
    border-color: rgb(35, 160, 41);
}

.break-settings {
    background-color: #36413b42;
    border-radius: 5px;
    opacity: 0.8;
}

.break-settings button {
    padding: 1px 3px;
    border-radius: 3px;
    font-size: 13px;
}

.break-settings__content {

    font-size: 13px;
}

.break-settings__form {}

.break-settings__input {}

.break-settings__row {
    display: flex;
    justify-content: space-between;
    margin: 3px 9px 3px 9px;
}

.break-settings__summary {
    opacity: 0.5;
    font-style: italic;
}