.link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

h2 {
    color: #FBE8CE;
    font-size: 37px;
}

.circle {
    width: 233px;
    height: 233px;
    border-radius: 100%;
    background-color: #9AB17A;

    padding: 3px 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}