.timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    display: flex;
    align-items: center;
}

.dots {
    font-size: 50px;
}

.minutes,
.seconds {
    display: flex;
}

.time-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    color: white;
    padding-top: 50px;
    padding-bottom: 55px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;
    font-weight: bold;
    font-size: 85px;
    border-radius: 10%;
}