@import "tailwindcss";

@plugin "daisyui" {
  themes: silk --default, forest --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  logs: true;
}

@theme {
  --color-work: red;
  --color-break: green;
  --color-active: #ffc813d8;
}

@plugin "daisyui/theme" {
  name: "silk";

  --color-work: red;
  --color-break: green;
  --color-active: #ffc813d8;
}

@plugin "daisyui/theme" {
  name: "forest";

  --color-work: blue;
  --color-break: green;
  --color-active: #ffc813d8;
}