@import "tailwindcss";
@plugin "daisyui" {
  themes: silk --default, forest --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  logs: true;
}

@theme {
  --color-work: red;
  --color-break: green;
  --color-active: #ffc813d8;
}

@plugin "daisyui/theme" {
  name: "silk";

  --color-work: red;
  --color-break: green;
  --color-active: #ffc813d8;
}

@plugin "daisyui/theme" {
  name: "forest";

  --color-work: blue;
  --color-break: green;
  --color-active: #ffc813d8;
}

@theme {
  --animate-drain: drain 1s linear;
}

@keyframes drain {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}